.container{
	height: 800px;
	width: 800px;
	background-color: #FFF9D5;
	margin: 120px auto auto auto;
	border:none;
	padding: none;
}
.box{
	border:0px;
	padding: 0px;
	margin: 0px;
	background-color: #2F353C;
	display: inline-block;
	float: left;

}
